<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Stock</title>
</head>
<body>
<form action='/database' id="updateStock" method="post" autocomplete="off">
    <input value="updateStock" type="hidden" name="id">

    <label for="productId">What item are you updating stock for?</label> <br>
    <input list="items" name="item" id="productId" required> <br>

    <datalist id="items">
        {% for item in items %}
            <option value='{{ item }}'>
        {% endfor %}
    </datalist>

    <label for="productCost">What is the cost of the item?</label> <br>
    <input id="productCost" type="text" name="stockPrice" required> <br>

    <label for="stockChange">How much did the stock change? (negative amount if stock has been removed)</label> <br>
    <input id="stockChange" type="number" name="stockChange" required> <br>

    <label for="stockDate">When was this stock changed?</label> <br>
    <input id="stockDate" type="datetime-local" name="stockDate" required> <br>

    <input type="submit" id="submit" name="submit" value="Submit">
    <input type="reset" id="reset" name="reset" value="Reset">
    <input type="button" onclick="location.href='/'" value="Go Back" name="goBack" id="goBack">
</form>
</body>
</html>