/* Sets font family for all elements) */
* {
    font-family: 'Fira Code', monospace;
}

/* Sets font size, margin, width of content, text-align and background for body */
body {
    font-size: 17px;
    margin: auto;
    width: 98%;
    text-align: justify-all;
    background: rgba(144, 175, 224, 0.58);
}

/*Adds padding to form so its not close to the rest*/
form {
    padding: 10px;
}

/*Sets padding around input boxes, sets their width based off webpage size, sets font size*/
input[type=number], input[type=text], input[type=datetime-local], select {
    width: 30%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
}

/*Sets font size for all buttons and input boxes, adds small border */
button, input, select {
    font-size: 12px;
    background: rgba(139, 181, 253, 0.6);
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: "Fira Code SemiBold", monospace;
}

/*Submit button background setting*/
.submit {
    background: #50FA7B
}

/*Reset button background setting*/
.reset {
    background: #FF5555
}

/* Changes labels to fira code and set the font size*/
label {
    font-family: 'Fira Code SemiBold', monospace;
    font-size: 15px;
}

/*The div which appears when you click the checkbox in the addItem page*/
/*Makes it invisible by default and removes border*/
#addStock {
    display: none;
    border: none;
}

/*Attempts to set the max table height. Gives it a border*/
#tableDiv {
    max-height: 20%;
    border: 2px black solid;
}

/*Sets the table width, aligns all the text, removes any borders.*/
#productTable table {
    width: 100%;
    align-content: center;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0 black solid;
}

/*Makes it overflow and aligns text to center*/
#productTable table, th, td {
    overflow-y: auto;
    text-align: center;
}

/*Sets width of columns*/
#productTable td {
    width: 10%;
}

/*Sets background colour of headers*/
#productTable th {
    background: rgba(139, 181, 253, 0.6);
}

/*Makes row change colour when hovered over*/
#productTable tr:hover {
    background-color: rgba(68, 71, 90, 0.24)
}

/*Sets the position of the buttons underneath the table on the home page*/
#actionButtons, #filterButtons {
    margin: auto;
    width: 30%;
    padding: 10px;
}

/*Ensures there isnt a weird gap between the two rows of buttons on the home page*/
#actionButtons {
    padding-bottom: 0;
}

/*Ensures there isnt a weird gap between the two rows of buttons on the home page*/
#filterButtons {
    padding-top: 0;
}

/*Gets rid of padding for the second row of buttons on the home page*/
#filterButtons form {
    padding: 0;
    margin: 0;
}
