<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Manager</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div id="header">
    <h1>Generic Climbing Store's Product Database</h1>
    Use the aptly labeled buttons to add products, delete products, update a product's stock, or filter the products by
    pre-set criteria.
</div>
<br>
<div id="tableDiv">
    <div id="itemList">
        <table id="productTable">
            <tr>
                <th>#</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Supplier</th>
                <th>Cost</th>
                <th>Total Stock</th>
                <th>Date Acquired</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
                <td>${{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="userButtons">
    <div id='actionButtons'>
        <button type="button" id="addItem" onclick="location.href='./commands/addItem'">Add Product</button>
        <button type="button" id="updateStock" onclick="location.href='./commands/updateStock'">Update a Product's
            Stock
        </button>
        <button type="button" id="deleteItem" onclick="location.href='./commands/deleteItem'">Delete Product</button>
    </div>
    <br>
    <div id='filterButtons'>
        <form method="post" action="/" style="display: inline-block">
            <input value="stockUnder" type="hidden" name="id">
            <input type="submit" id="stockUnder5" value="Stock under 5">
        </form>
        <form method="post" action="/" style="display: inline-block">
            <input value="dateBefore" type="hidden" name="id">
            <input type="submit" id="dateBefore" value="Acquired before 1/7/24">
        </form>
        <form method="post" action="/" style="display: inline-block">
            <input value="normal" type="hidden" name="id">
            <input type="submit" id="normal" value="Show all items">
        </form>
    </div>
</div>
</body>
</html>